Loaded dataset using pandas to ensure reproducibility.

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\Lenovo\Downloads\StudentsPerformance (1).csv")

Inspected data using head() and info() to understand structure.

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Checked missing values using isnull().sum().

In [5]:
#Identify Missing Values
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Filled numeric missing values using mean and categorical using mode.

In [7]:
#Handle Missing Values (Cleaning)
#Numeric columns → mean / median
df['math score'] = df['math score'].fillna(df['math score'].mean())

In [16]:
#Categorical columns → mode
# Check and handle missing values in gender column
mode_gender = df['gender'].mode()
if df['gender'].isnull().sum() > 0 and not mode_gender.empty:
    df['gender'] = df['gender'].fillna(mode_gender.iloc[0])

In [19]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [20]:
#Remove Duplicates , Check duplicates
df.duplicated().sum()

0

In [21]:
#Row count before
df.shape

(1000, 8)

In [22]:
#Remove duplicates
df = df.drop_duplicates()

In [23]:
#Row count after
df.shape

(1000, 8)

In [24]:
#Datatype Conversion, Example: Convert categorical to category type (memory efficient)
df['gender'] = df['gender'].astype('category')

In [27]:
#Create New Columns
#Example 1: Average Score
df['average_score'] = (
    df['math score'] +
    df['reading score'] +
    df['writing score']
) / 3

#Example 2: Performance Category

def performance(avg):
    if avg >= 75:
        return 'High'
    elif avg >= 50:
        return 'Medium'
    else:
        return 'Low'

df['performance_level'] = df['average_score'].apply(performance)

In [28]:
#Save Cleaned Dataset
df.to_csv("cleaned_data.csv", index=False)